body {
    background-color: black;
    color: white;
}

#user-input {
    background-color: black;
    color: white;
}

::placeholder {
    color: white;
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
}


