body {
    background-color: black;
    color: white;
}

#user-input {
    background-color: black;
    color: white;
}

::placeholder {
    color: white;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}


